.container {
  max-width: 100rem;
  margin: 0 auto;
}

.pendulum__container {
  margin-inline: 4rem;
  max-width: 100rem;
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;

  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
}

.pendulum-card__container {
  max-width: 100rem;
  margin: 0 auto;
}

.pendulum-styling__container {
  display: grid;
  grid-template-columns: auto;
}

.pendulum-card__title {
  color: #183446;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
}

.pendulum-card__text {
  font-size: 1.5rem;

  margin-top: 5%;
  margin-left: 5%;
}

.pendulum-styling__card {
  background-color: #183446;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2rem;
  transform: rotate(-3deg);
  z-index: -1;
  grid-area: 1 / 1;
}

.pendulum-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 2rem;
  height: auto;
  grid-area: 1 / 1;

  display: grid;
  place-items: center;
}

.pendulum-card__cta {
  text-align: center;
  text-justify: end;
  margin-top: 1rem;
}

.pendulum-card__info-container {
  margin: 1rem 2rem;
}

.pendulum-card__info-text {
  text-align: center;
  margin-top: 5%;
}

.highlighted-text {
  font-weight: bold;
  color: rgb(210, 115, 0);
}

a {
  color: rgb(119, 119, 119);
}
