.background {
  position: fixed;
  top: 75vh;
  left: 0;
  z-index: -10;
  height: 25vh;
  width: 100vw;
  background-color: #183446;
  grid-area: 1 / 1;
}

.accent-pattern {
  position: absolute;
  height: 10rem;
  width: 30rem;
  top: 0;
  right: 0;
  background: #fff;
  filter: contrast(7);
}
.accent-pattern::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(#ff5733, transparent) 0 0/ 1em 1em space;
  content: '';
}
