.header {
  position: sticky;
  top: 0;
  background: white;
  max-width: 100rem;
  margin: 0 auto;
  z-index: 10;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.header-title {
  margin-inline: 2rem;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

span {
  font-weight: 200;
}

.three-col-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.grid__auto-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav-list {
  margin-inline: 1rem;
}

@media only screen and (max-width: 960px) {
  .three-col-grid__expand-two {
    display: block;
  }
}

@media only screen and (max-width: 740px) {
  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .header-title {
    margin: 0 auto;
  }
}
