.hero-styling-card {
  background-color: #183446;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 2rem;
  transform: rotate(-3deg);
  z-index: -1;
  grid-area: 1 / 1;
}

.hero-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  background-color: white;
  border-radius: 2rem;
  font-size: 1.7rem;
  height: 23rem;
  grid-area: 1 / 1;
}

.hero-card__title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 5%;
}

.hero-card__text {
  font-size: 1.5rem;

  margin-top: 5%;
  margin-left: 5%;
}

@media only screen and (max-width: 670px) {
  .hero-styling-card,
  .hero-card {
    height: 15rem;
  }
  .hero-card__title {
    font-size: 1.5rem;
  }
  .hero-card__text {
    font-size: 1rem;
  }
}
